<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Argument Analyzer</title>
<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>Logical Fallacy Detector</h1>

<!-- <div id="content-area" hx-get="/initial" hx-trigger="load" hx-swap="innerHTML"></div> -->

<div id="content-area">{% include 'initial.html' %}</div>

</body>
</html>